/model/__pycache__
/dataset
/out
/MiniMind2-Small
/whisper_ckpt
/sensevoice_ckpt
/sherpa/kokoro-multi-lang-v1_0
/sherpa/sherpa-onnx-kws-zipformer-wenetspeech-3.3M-2024-01-01
/sherpa/sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17
/sherpa/sherpa-onnx-streaming-paraformer-bilingual-zh-en
/sherpa/vits-icefall-zh-aishell3
*pyc
