faster-whisper
ctranslate2==4.4.0
funasr==1.2.6
sounddevice==0.4.1
jieba==0.42.1
jsonlines==4.0.0
marshmallow==3.22.0
nltk==3.8
psutil==5.9.8
pydantic==2.8.2
rich==13.7.1
sentence_transformers==2.3.1
simhash==2.1.2
tiktoken==0.5.1
transformers==4.48.0
jinja2==3.1.2
jsonlines==4.0.0
ujson==5.1.0
sherpa-onnx
watchdog
tensorboard
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchaudio==2.2.0
